<h1>Administration</h1>

<ul>
	<li><%= link_to 'Tous les utilisateurs', admin_users_path %></li>
	<li><%= link_to 'Ajouter un utilisateur', new_admin_user_path %></li>
	----
	<li><%= link_to 'Mise à jour des diplômants',:controller=>"etudiants", :method => :create %></li>
	----
	<li><%= link_to 'Association Prof <-> Etudiant' %></li>	
</ul>