<h1>Etudiants diplômants actuels</h1>

<div class="datatable_container">
	<table id="etudiants" class="table_container" data-source="<%= etudiants_url(format: "json") %>">
	  <thead>
	  		<tr>
	  			<th></th>	<!-- Définition des entêtes de colonnes dans la table -->
	  			<th></th>
	  			<th></th>
	  			<th></th>
	  			<th></th>
	  			<th></th>
	  			<th></th>
	  			<th></th>
			</tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
</div>
